{% macro input(name, value, type, size) %}
    <input
        type="{{ type | default('text') }}"
        name="{{ name }}"
        value="{{ value | e }}"
        size="{{ size | default(20) }}" />
{% endmacro %}

{% macro details(name, count) %}
        <button class="btn is-ghost is-details" type="button" aria-label="{{ name }}">
            <span class="text-truncate">
                {{ name }} ({{ count }})
            </span>
        </button>
{% endmacro %}

{% macro isIcon(name, icon, list, nameList) %}
        <div class="btn is-ghost dropdown is-right">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-{{ icon }}"></use>
            </svg>
            <div class="dropdown-menu_wrap">
                <ul class="dropdown-menu"> 
                        <li><span class="menu__title">{{ nameList }}</span></li>
                    {% for keylist, valuelist in list %}
                        <li>
                            <a href="" class="{{ valuelist[0] }}">
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="/assets/sprite/sprite.svg#icon-{{ valuelist[0] }}"></use>
                                </svg>
                                <span>{{ valuelist[1] }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    
                </ul>  
            </div>
        </div>
{% endmacro %}

{% macro contentList(entetyAvatarImg, entetyTitle, entetySubTytle, entetyMainImg, entetyMainContent, entetyVideo) %}
        <div class="main__content__body__item has-shadow has-border-radius-lg">
            <div class="main__content__body__item__header">
                <a class="main__content__body__list__link" href="#">
                    {% if entetyAvatarImg|length > 0 %}
                        <figure class="entety__avatar">
                            <img src="/assets/images/{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                        </figure>  
                    {% endif %}
                    <div class="main__content__body__list__link__desc">
                        <div class="main__content__entety__title">{{ entetyTitle }}</div>
                        <div class="main__content__entety__subtitle"><span>{{entetySubTytle}}</span></div>
                    </div>
                </a>     
                <div class="is_link dropdown is-right">
                    <svg class="icon" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                    </svg>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li>
                                <a href="" class="alphabet">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-alphabet"></use>
                                    </svg>
                                    <span>item 1</span>
                                </a>
                            </li>
                        
                            <li>
                                <a href="" class="calendar">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
                                    </svg>
                                    <span>item 2</span>
                                </a>
                            </li>
                        
                            <li>
                                <a href="" class="likebig">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-likebig"></use>
                                    </svg>
                                    <span>item 3</span>
                                </a>
                            </li>
                        </ul>  
                    </div>
                </div>       
            </div>

            {% if entetyVideo|length > 0 %}
                
                            <div class="post-card__video video">
                                <video
                                    id="modal-video01"
                                    class="vjs-video vjs-16-9 video-js"
                                    controls
                                    preload="auto"
                                    poster="/assets/images/{{ entetyMainImg }}"
                                    >
                                    <source src="//{{ entetyVideo }}.mp4" type="video/mp4" />
                                    <source src="//{{ entetyVideo }}.webm" type="video/webm" />
                                    <source src="//{{ entetyVideo }}.ogv" type="video/ogg" />
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
            {% elseif entetyMainImg|length > 0 %}
                <div class="main__content__body__image">
                    <figure class="entety__avatar">
                        <img src="/assets/images/{{ entetyMainImg }}" alt="" class="entety__avatar_img">
                    </figure>    
                </div>
            {% endif %}
            {% if entetyMainContent|length > 0 %}
                <div class="main__content__body__txt crop-height">
                    <a href="/post" class="crop-height__txt">{{entetyMainContent}}</a> 
                </div>
            {% endif %}



            <div class="main__content__body__list__captio">
               <div class="btn is-ghost count_btn">
                    <span class="grow">+44</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-ghost count_btn">
                    <span class="reduce">-1</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-compact is-ghost sm_hidden">
                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-eye"></use>
                    </svg>
                    <span>120 040</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-compact is-ghost">
                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-comment"></use>
                    </svg>
                    <span>89+3</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
               <div class="btn is-compact is-ghost sm_hidden">
                    <svg class="icon is-left" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-repposts"></use>
                    </svg>
                    <span>2</span>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                        </ul>  
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}

{% macro friends(entetyAvatarImg, entetyTitle,entetySubTytle,enterySubtitleLast) %}
        {#
            <div class="user">
                <figure class="user__avatar avatar">
                    <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    <btn class="btn user__btn-overflow"></btn>
                </figure>
                <a href="#" class="user__title link is-wrapper">
                    {{ entetyTitle }}
                </a>
                <div class="user__subtitle">
                    {{ entetySubTytle }}
                </div>
            </div>
       #}
        <div class="group__body__list__item is-center">
            <div class="group__body__list__ava dropdown is-center">
                {% if entetyAvatarImg|length > 0 %}
                    <figure class="entety__avatar">
                        <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    </figure>                
                {% endif %}
                <span class="entety__btns">
                    <svg class="icon" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                    </svg>
                </span>
                {% set frienadLink = {
                      profile: "my profile",
                      finances: "my finances",
                      bonuses: "bonuses and discounts",
                      settings: "settings",
                      exit: "exit"
                    } %}
                <div class="dropdown-menu_wrap">
                    <ul class="dropdown-menu">  
                        {% for key, value in frienadLink %}
                            <li><a href="#/{{ key }}">{{ value }}</a></li>
                        {% endfor %}
                    </ul>  
                </div>
            </div>
            <div class="group__body__list__title">
                <div class="group__name"><a href="single.html" class="user__title link is-wrapper">{{ entetyTitle }}</a></div>
            </div>



            <div class="group__body__list__captio">
                {% if   entetySubTytle|length > 0 %}
                    <div class="list__captio__item">{{ entetySubTytle }}</div>
                {% endif %}

                <div class="card-friend__actions">
                    <button class="card-friend__action is-friend button is-outline btn" type="button">
                        <svg class="icon is-left" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                        </svg>
                        <span class="label is-bolder">friend</span>
                    </button>
              </div>
                
            </div>
        </div>
{% endmacro %}

{% macro groups(entetyAvatarImg, entetyTitle,entetySubTytle, enterySubtitleLast, enteryIcon) %}
        <div class="group__body__list__item">
            <div class="group__body__list__ava is-center">
                {% if entetyAvatarImg|length > 0 %}
                    <figure class="entety__avatar">
                        <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    </figure>                
                {% endif %}
                <button class="entety__btns">
                    <svg class="icon" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                    </svg>
                </button>
            </div>
            <div class="group__body__list__title">
                <div class="group__name"><a href="single.html" class="user__title link is-wrapper">{{ entetyTitle }}</a></div>
            </div>



            <div class="group__body__list__captio">
                {% if entetySubTytle|length > 0 %}
                    <div class="list__captio__item">{{ entetySubTytle }}</div>
                {% endif %}

                {% if enterySubtitleLast|length > 0 %}
                    <div class="list__captio__item">
                        {% if enteryIcon|length > 0 %}
                            <svg class="icon" aria-hidden="true" focusable="false">
                                <use href="/assets/sprite/sprite.svg#icon-{{ enteryIcon }}"></use>
                            </svg>
                        {% endif %} 
                        {{ enterySubtitleLast }}
                    </div>
                {% endif %}                
            </div>
        </div>
{% endmacro %}

{% macro promo(entetyAvatarImg, entetyCategory,entetyTitle,enterySubtitleLast,enteryPoint) %}
        <div class="event__body__list__item has-shadow has-border-radius-base">
            <div class="event__body__list__ava">
                {% if entetyAvatarImg|length > 0 %}
                    <a href="single.html">
                        <figure class="entety__bg">
                            <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                        </figure>  
                    </a>              
                {% endif %}
            </div>
            <div class="event__body__list__content is_promo">
                <div class="event__body__list__category">
                    <div class="event__category__name">
                        <a href="single.html" class="user__title link is-wrapper">{{ entetyCategory }}</a>
                    </div>
                </div>
                <div class="event__body__list__title">
                    <div class="event__name">
                        <a href="single.html" class="user__title link is-wrapper">{{ entetyTitle }}</a>
                    </div>
                </div>

                <div class="event__body__list__captio">
                    {% if enterySubtitleLast|length > 0 %}
                        <div class="event_list__captio__item">{{ enterySubtitleLast }}</div>
                    {% endif %}
                    
                </div>
                <div class="event__body__list__captio promo_address flex justify-between">
                    <div class="is-ghost">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/assets/sprite/sprite.svg#icon-eye"></use>
                        </svg>
                        <span>{{ enteryPoint }}</span>
                    </div>
                    <div class="btn is-ghost count_btn">
                        <span class="reduce">-1</span>
                        <div class="dropdown-menu_wrap">
                            <ul class="dropdown-menu"> 
                                <li><span class="menu__title"></span></li>
                            </ul>  
                        </div>
                    </div>
                </div>                
            </div>
    
        </div>
{% endmacro %}

{% macro event(entetyAvatarImg, entetyCategory,entetyTitle,enterySubtitleLast,enteryPoint) %}
        <div class="event__body__list__item has-shadow has-border-radius-base">
            <div class="event__body__list__ava">
                {% if entetyAvatarImg|length > 0 %}
                    <a href="single.html">
                        <figure class="entety__bg">
                            <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                        </figure>   
                    </a>        
                {% endif %}
                <div class="round_circle dropdown">
                    <svg class="icon" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-calendar-plus"></use>
                    </svg>
                    <div class="dropdown-menu_wrap">
                        <ul class="dropdown-menu"> 
                            <li>
                                <a href="" class="alphabet">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-alphabet"></use>
                                    </svg>
                                    <span>item 1</span>
                                </a>
                            </li>
                        
                            <li>
                                <a href="" class="calendar">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-calendar"></use>
                                    </svg>
                                    <span>item 2</span>
                                </a>
                            </li>
                        
                            <li>
                                <a href="" class="likebig">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-likebig"></use>
                                    </svg>
                                    <span>item 3</span>
                                </a>
                            </li>
                        </ul>  
                    </div>
                </div>
            </div>
            <div class="event__body__list__content">
                <div class="event__body__list__category">
                    <div class="event__category__name">
                        <a href="single.html" class="user__title">{{ entetyCategory }}</a>
                    </div>
                </div>
                <div class="event__body__list__title">
                    <div class="event__name">
                        <a href="single.html" class="user__title">{{ entetyTitle }}</a>
                    </div>
                </div>

                <div class="event__body__list__captio">
                    {% if enterySubtitleLast|length > 0 %}
                        <div class="event__captio__item">{{ enterySubtitleLast }}</div>
                    {% endif %}
                    
                </div>
                <div class="event__body__list_date">
                        <span>{{ enteryPoint }}</span>
                </div>
            </div>
        </div>
{% endmacro %}

{% macro sidebarGroupList(sidebarEntetyAvatar, sidebarEntetyTitle, sidebarEntetySubTitle, sidebarEntetyLink) %}
    <li>
        <a class="main__sidebar__group__list__link" href="{{ sidebarEntetyLink }}">
            {% if  sidebarEntetyAvatar|length > 0 %}
                <figure class="entety__avatar">
                    <img src="{{ sidebarEntetyAvatar }}" alt="" class="entety__avatar_img">
                </figure>                
            {% endif %}
            <div class="sidebar__entety__desc">
                <div class="sidebar__entety__title">{{ sidebarEntetyTitle }}</div>
                <div class="sidebar__entety__subtitle">{{ sidebarEntetySubTitle }}</div>
            </div>
        </a>
    </li>
{% endmacro %}

{% macro mainSidebarList(sidebarListIcon, sidebarListType, sidebarListLink, sidebarListTitle, sidebarListCount, className) %}
    {% if  className|length > 0 %}
        <li class="{{ className }}">
    {% else %}
        <li>
    {% endif %}
    
        <a class="main__sidebar__item__link" href="{{ sidebarListLink }}">
            <span class="label">{{ sidebarListTitle }}</span>
            {% if   sidebarListCount|length > 0 %}
                <span class="badge pull-right">{{ sidebarListCount }}</span>
            {% endif %}

        </a>
    </li>
{% endmacro %}
