{% macro input(name, value, type, size) %}
    <input
        type="{{ type | default('text') }}"
        name="{{ name }}"
        value="{{ value | e }}"
        size="{{ size | default(20) }}" />
{% endmacro %}

{% macro details(name, count) %}
        <button class="btn is-ghost is-details" type="button" aria-label="{{ name }}">
            <span class="text-truncate">
                {{ name }} ({{ count }})
            </span>
        </button>
{% endmacro %}

{% macro isIcon(name, icon, list, nameList) %}
        <div class="btn is-ghost dropdown" type="button" aria-label="{{ name }}">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/assets/sprite/sprite.svg#icon-{{ icon }}"></use>
            </svg>
            <div class="dropdown-menu_wrap">
                <ul class="dropdown-menu"> 
                        <li><span class="menu__title">{{ nameList }}</span></li>
                    {% for keylist, valuelist in list %}
                        <li>
                            <a href="" class="{{ valuelist[0] }}">
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="/assets/sprite/sprite.svg#icon-{{ valuelist[0] }}"></use>
                                </svg>
                                <span>{{ valuelist[1] }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    
                </ul>  
            </div>
        </div>
{% endmacro %}

{% macro groups(entetyAvatarImg, entetyTitle,entetySubTytle,enterySubtitleLast) %}

        <div class="group__body__list__item">
            <div class="group__body__list__ava">
                <span>
                    <figure class="entety__avatar">
                        <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    </figure>                
                </span>
                <button class="entety__btns">
                    <svg class="icon" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                    </svg>
                </button>
            </div>
            <div class="group__body__list__title">
                <div class="group__name"><a href="#" class="user__title link is-wrapper">{{ entetyTitle }}</a></div>
            </div>



            <div class="group__body__list__captio">
                {% if   entetySubTytle|length > 0 > 0 %}
                    <div class="list__captio__item">{{ entetySubTytle }}</div>
                {% endif %}

                {% if enterySubtitleLast|length > 0 %}
                    <div class="list__captio__item">{{ enterySubtitleLast }}</div>
                {% endif %}
                
            </div>
        </div>
{% endmacro %}

{% macro friends(entetyAvatarImg, entetyTitle,entetySubTytle,enterySubtitleLast) %}
        {#
            <div class="user">
                <figure class="user__avatar avatar">
                    <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    <btn class="btn user__btn-overflow"></btn>
                </figure>
                <a href="#" class="user__title link is-wrapper">
                    {{ entetyTitle }}
                </a>
                <div class="user__subtitle">
                    {{ entetySubTytle }}
                </div>
            </div>
       #}
        <div class="group__body__list__item">
            <div class="group__body__list__ava dropdown">
                <span>
                    <figure class="entety__avatar">
                        <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    </figure>                
                </span>
                <span class="entety__btns">
                    <svg class="icon" aria-hidden="true" focusable="false">
                        <use href="/assets/sprite/sprite.svg#icon-more"></use>
                    </svg>
                </span>
                {% set frienadLink = {
                      profile: "my profile",
                      finances: "my finances",
                      bonuses: "bonuses and discounts",
                      settings: "settings",
                      exit: "exit"
                    } %}
                <div class="dropdown-menu_wrap">
                    <ul class="dropdown-menu">  
                        {% for key, value in frienadLink %}
                            <li><a href="#/{{ key }}">{{ value }}</a></li>
                        {% endfor %}
                    </ul>  
                </div>
            </div>
            <div class="group__body__list__title">
                <div class="group__name"><a href="#" class="user__title link is-wrapper">{{ entetyTitle }}</a></div>
            </div>



            <div class="group__body__list__captio">
                {% if   entetySubTytle|length > 0 %}
                    <div class="list__captio__item">{{ entetySubTytle }}</div>
                {% endif %}

                <btn class="btn user__btn-overflow"></btn>
                
            </div>
        </div>
{% endmacro %}

{% macro sidebarGroupList(sidebarEntetyAvatar, sidebarEntetyTitle, sidebarEntetySubTitle, sidebarEntetyLink) %}
    <li>
        <a class="main__sidebar__group__list__link" href="{{ sidebarEntetyLink }}">
            <span>
                <figure class="entety__avatar">
                    <img src="{{ sidebarEntetyAvatar }}" alt="" class="sidebar__entety__avatar_img">
                </figure>                
            </span>
            <div class="sidebar__entety__desc">
                <div class="sidebar__entety__title">{{ sidebarEntetyTitle }}</div>
                <div class="sidebar__entety__subtitle"><span>{{ sidebarEntetySubTitle }}</div>
            </div>
        </a>
    </li>
{% endmacro %}

{% macro mainSidebarList(sidebarListLink, sidebarListTitle, sidebarListCount) %}
    <li>
        <a class="main__sidebar__item__link" href="{{ sidebarListLink }}">
            <span class="label">{{ sidebarListTitle }}</span>
            {% if   sidebarListCount|length > 0 %}
                <span class="badge pull-right">{{ sidebarListCount }}</span>
            {% endif %}

        </a>
    </li>
{% endmacro %}

{% macro modal(name, icon) %}
    <div class="modal fade" id="modal" aria-labelledby="region-selector-title" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal__box">
                <div class="modal__header">
                    <h3 class="modal__title" id="region-selector-title">Выберите город или регион</h3>
                    <button class="btn is-close" type="button" data-bs-dismiss="modal" aria-label="Закрыть">
                        <svg class="icon" aria-hidden="true" focusable="false">
                            <use href="/projects/#{ExtraData.domain}/images/base/graphics/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
                
                <form class="modal__body" id="form-region"><label class="sr-only" id="form-region-label" for="form-region-input">Выберите город или регион</label>
                    <div class="combobox" id="form-region-combobox"><input id="form-region-input" type="text" role="combobox" aria-expanded="false" aria-owns="form-region-suggestions" aria-haspopup="grid" autocomplete="off" autocapitalize="off" spellcheck="false" aria-autocomplete="list" aria-controls="form-region-suggestions" placeholder="Начните вводить название…" />
                        <ul class="combobox__suggestions" id="form-region-suggestions" role="listbox" aria-labelledby="form-region-label">
                            <li class="combobox__option" role="option"><span class="combobox__option-label">Москва</span><span class="combobox__option-details">Москва и Московская область, Россия</span></li>
                            <li class="combobox__option" role="option"><span class="combobox__option-label">Санкт-Петербург</span><span class="combobox__option-details">Санкт-Петербург и Ленинградская область, Россия Санкт-Петербург и Ленинградская область, Россия Санкт-Петербург и Ленинградская область, Россия</span></li>
                            <li class="combobox__option" role="option"><span class="combobox__option-label">Самара</span><span class="combobox__option-details">Самарская область, Россия</span></li>
                        </ul>
                    </div>
                </form>
                <div class="modal__footer"><button class="btn is-primary" type="submit">Продолжить с новым регионом </button></div>
            </div>
        </div>
    </div>
{% endmacro %}