{% macro input(name, value, type, size) %}
    <input
        type="{{ type | default('text') }}"
        name="{{ name }}"
        value="{{ value | e }}"
        size="{{ size | default(20) }}" />
{% endmacro %}

{% macro details(name, count) %}
        <button class="btn is-ghost is-details" type="button" aria-label="{{ name }}">
            <span class="text-truncate">
                {{ name }} ({{ count }})
            </span>
        </button>
{% endmacro %}

{% macro isIcon(name, icon) %}
        <button class="btn is-ghost" type="button" aria-label="{{ name }}">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use href="/src/base/graphics/sprite.svg#icon-{{ icon }}"></use>
            </svg>
        </button>
{% endmacro %}

{% macro groups(entetyAvatarImg, entetyTitle,entetySubTytle,enterySubtitleLast) %}

        <div class="group__body__list__item">
            <div class="group__body__list__ava">
                <a href="#">
                    <figure class="entety__avatar">
                        <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    </figure>                
                </a>
            </div>
            <div class="group__body__list__title">
                <div class="group__name"><a href="#" class="user__title link is-wrapper">{{ entetyTitle }}</a></div>
            </div>



            <div class="group__body__list__captio">
                {% if   entetySubTytle|length > 0 > 0 %}
                    <div class="list__captio__item">{{ entetySubTytle }}</div>
                {% endif %}

                {% if enterySubtitleLast|length > 0 %}
                    <div class="list__captio__item">{{ enterySubtitleLast }}</div>
                {% endif %}
                
            </div>
        </div>
{% endmacro %}

{% macro friends(entetyAvatarImg, entetyTitle,entetySubTytle,enterySubtitleLast) %}
        {#
            <div class="user">
                <figure class="user__avatar avatar">
                    <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    <btn class="btn user__btn-overflow"></btn>
                </figure>
                <a href="#" class="user__title link is-wrapper">
                    {{ entetyTitle }}
                </a>
                <div class="user__subtitle">
                    {{ entetySubTytle }}
                </div>
            </div>
       #}
        <div class="group__body__list__item">
            <div class="group__body__list__ava">
                <a href="#">
                    <figure class="entety__avatar">
                        <img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
                    </figure>                
                </a>
            </div>
            <div class="group__body__list__title">
                <div class="group__name"><a href="#" class="user__title link is-wrapper">{{ entetyTitle }}</a></div>
            </div>



            <div class="group__body__list__captio">
                {% if   entetySubTytle|length > 0 > 0 %}
                    <div class="list__captio__item">{{ entetySubTytle }}</div>
                {% endif %}

                <btn class="btn user__btn-overflow"></btn>
                
            </div>
        </div>
{% endmacro %}