<div class="main__content__header">
	<div class="main__content__header__cover">
		<div class="profile__cover">
			<div class="profile__cover__slider">
				<img src="{{ profileCoverImg }}" alt="" class="profile__cover_img">
			</div>
		</div>
	</div>	
	<div class="main__content__header__data">
		<div class="main__content__header__data__top">
			<div class="main__content__header__ava">
				<div class="entety__avatar">
					<img src="{{ entetyAvatarImg }}" alt="" class="entety__avatar_img">
				</div>
			</div>
			<div class="main__content__header__title">
				<div class="group__name">
					<div class="group__name_h">{{ groupNameH }}</div>
					<div class="group__name_info">{{ groupNameInfo }}</div>
				</div>
			</div>
			<div class="main__content__header__actions">
				<ul class="header__action__menu">
					{% for key, value in headerActions %}
						<li class="expand__action__item">
							<button class="btn is-ghost is-details" type="button" aria-label="{{ value }}">
		            			<svg class="icon" aria-hidden="true" focusable="false">
		                			<use href="/assets/sprite/sprite.svg#icon-{{ key }}"></use>
		            			</svg>
							</button>						
						</li>
					{% endfor %}				
				</ul>

			</div>	
		</div>
	</div>
</div>
