{% set searchFrom = {
    editProfile: "Edit profile",
    stats: "Statistic",
} %}

    <form class="header__search" id="header-search-form" action="/search" role="search" onsubmit="return false;">
        <div class="form__item">
            <input class="form__control" id="header-search-input" name="blogsearch" type="search" dir="auto" autocomplete="off" aria-label="within mybusines.app" placeholder="Search">

            {% if title == 'Community' or  title == 'Friends'  or  title == 'Organizations'  or  title == 'Events' %}
                <button class="header__search-submit" id="smart-search-btn" type="submit" aria-label="Settings">
                    <svg class="icon" aria-hidden="true" focusable="false">
                      <use href="/assets/sprite/sprite.svg#icon-settings"></use>
                    </svg>
                </button>
            {% elseif title == 'Single Community' %}
                <button class="header__search-submit is_rubber" id="smart-search-btn" type="submit" aria-label="Settings">
                    {% set searchFrom = 'In community' %}
                    <span>{{ searchFrom }}</span>
                </button>
            {% elseif title == 'Single Event' %}
                <button class="header__search-submit is_rubber" id="smart-search-btn" type="submit" aria-label="Settings">
                    {% set searchFrom = 'In Page' %}
                    <span>{{ searchFrom }}</span>
                </button>
            {% elseif title == 'My Page' %}
                <button class="header__search-submit is_rubber" id="smart-search-btn" type="submit" aria-label="Settings">
                    {% set searchFrom = 'User' %}
                    <span>{{ searchFrom }}</span>
                </button>
            {% elseif title == 'Single Post' %}
                <button class="header__search-submit is_rubber" id="smart-search-btn" type="submit" aria-label="Settings">
                    {% set searchFrom = 'In post' %}
                    <span>{{ searchFrom }}</span>
                </button>
            {% elseif title == 'Single Organization' %}
                <button class="header__search-submit is_rubber" id="smart-search-btn" type="submit" aria-label="Settings">
                    {% set searchFrom = 'In organization' %}
                    <span>{{ searchFrom }}</span>
                </button>
            {% endif %}

            <button class="header__search-submit" id="header-search-submit" type="submit" aria-label="Submit Search">
                <svg class="icon" aria-hidden="true" focusable="false">
                    <use href="/assets/sprite/sprite.svg#icon-search"></use>
                </svg>
            </button>

            {% if title == 'Community' or  title == 'Friends'  or  title == 'Organizations'  or  title == 'Events' %}
                <div id="smartSearchInner" class="search__filter has-shadow has-border-radius-base">
                    <div class="search__filter__item">
                        <div class="form__item has-select form__item-countries">
                            <label>
                                <span class="form-label__title">Country, Region, City:</span>
                                <select class="select" id="countries">
                                    <option value="au">Australia</option>
                                    <option value="no">Norway</option>
                                    <option value="ru" selected>Russia</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    {% if title == 'Friends' %}
                        <div class="search__filter__item">
                            <div class="form__item has-select">
                                    <span class="form-label__title">Age:</span>
                                    <span class="flex select__age">
                                        <select class="select age__from" id="ageFrom">
                                            <option disabled selected hidden>From</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                        </select>
                                        <select class="select age__to" id="ageTo">
                                            <option disabled selected hidden>To</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                        </select>
                                    </span>
                            </div>
                        </div>

                        <div class="search__filter__item gender_select">
                            <div class="flex align-center">
                                <div class="form-label__title">Gender:</div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label flex align-center">
                                        <input type="radio" class="form-check-input" name="gender" value="any">
                                        <span>Any</span>
                                    </label>
                                </div>             
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label flex align-center">
                                        <input type="radio" class="form-check-input" name="gender" value="female">
                                        <span>Female</span>
                                    </label>
                                </div>             
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label flex align-center">
                                        <input type="radio" class="form-check-input" name="gender" value="male">
                                        <span>Male</span>
                                    </label>
                                </div>                    
                            </div>
                        </div>
                        
                        <div class="search__filter__item search__filter__item_footer">
                            <div class="flex align-center justify-between">
                                <label class="flex align-center">
                                    <input type="checkbox" id="mpagree"> 
                                    Only in the "Friends" section
                                </label>
                                <button class="form__btn btn is-primary" type="submit">Find</button>
                            </div>
                        </div>
                    {% elseif title == 'Organizations' %}
                        <div class="search__filter__item">
                            <div class="form-label__title">Category:</div>
                            
                            <div class="search__filter__item__items">
                                <div class="items_scroll select_all" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>All</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Community ODP</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span> Household service</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Healthcare</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Catering</span>
                                </div>
                            </div>
                        </div>
                        <div class="search__filter__item search__filter__item_footer">
                            <div class="flex align-center justify-between">
                                <label class="flex align-center">
                                    <input type="checkbox" id="mpagree"> 
                                    Only in organizations
                                </label>
                                <button class="form__btn btn is-primary" type="submit">Find</button>
                            </div>
                        </div>
                    {% elseif title == 'Community' %}
                        <div class="search__filter__item">
                            <div class="form-label__title">Category:</div>
                            <div class="search__filter__item__items">
                                <div class="items_scroll select_all" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>All</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Community ODP</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span> Household service</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Healthcare</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Catering</span>
                                </div>
                            </div>
                        </div>
                        <div class="search__filter__item search__filter__item_footer">
                            <div class="flex align-center justify-between">
                                <label class="flex align-center">
                                    <input type="checkbox" id="mpagree"> 
                                    Only in communities
                                </label>
                                <button class="form__btn btn is-primary" type="submit">Find</button>
                            </div>
                        </div>
                    {% elseif title == 'Events' %}
                        <div class="search__filter__item">
                            <div class="form-label__title">Category:</div>
                            <div class="search__filter__item__items">
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>any</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span> A party </span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Exhibition</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Congress</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Concert</span>
                                </div>
                            </div>
                        </div>
                        <div class="search__filter__item">
                            <div class="form-label__title">Category:</div>
                            <div class="search__filter__item__items">
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>any</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span> House </span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>House</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Health</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>acquaintance</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Games</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Art</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>movie</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Literature</span>
                                </div>
                                <div class="items_scroll" data-select="" data-id="">
                                    <svg class="icon" aria-hidden="true" focusable="false">
                                        <use href="/assets/sprite/sprite.svg#icon-checkmark"></use>
                                    </svg>
                                    <span>Music</span>
                                </div>
                            </div>
                        </div>
                        <div class="search__filter__item search__filter__item_footer">
                            <div class="flex align-center justify-between">
                                <label class="flex align-center">
                                    <input type="checkbox" id="mpagree"> 
                                    Only events
                                </label>
                                <button class="form__btn btn is-primary" type="submit">Find</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% elseif title == 'Single Community' or title == 'My Page' or title == 'Single Organization' or title == 'Single Post' or title == 'Single Event' %}
                <div id="smartSearchInner" class="search__filter has-shadow has-border-radius-base is_small">
                    <ul class="no_list_style intervalcheck">
                        <li class="custom-radio edit_link"> 
                            <label>
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="/assets/sprite/sprite.svg#icon-user"></use>
                                </svg>
                                <input type="radio" name="search_from" id="rb1"  value="{{ searchFrom }}" checked> 
                                <span>{{ searchFrom }}</span>                        
                            </label>
                        </li>
                        <li class="custom-radio edit_link"> 
                            <label>                   
                                <svg class="icon" aria-hidden="true" focusable="false">
                                    <use href="/assets/sprite/sprite.svg#icon-globe"></use>
                                </svg>
                                <input type="radio" name="search_from" id="rb2"  value="All over site"> 
                                <span>All over site</span>
                            </label>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <button class="header__search-cancel btn is-ghost" type="reset" data-role="search-cancel">
            <span class="label is-bolder">Cancel</span>
        </button>
    </form>